<!DOCTYPE html>
html(lang="en")
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href='index.css', rel='stylesheet')
body
  h1 Wiki Viewer
  .container
    input#searchTerm.form-control(type='text', placeholder='Search')
    br
    button#search.btn.btn-primary(type='button') Submit
    br
    br
    br
    a.white-text(href='https://en.wikipedia.org/wiki/Special:Random' target='_blank') Click Random article search
    br
    br
    br
  #output
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(type='text/javascript', src='index.js')